:81 {
	@internal_only {
		not remote_ip 127.0.0.1 ::1
	}

	handle @internal_only {
		respond 403
	}

	handle {
		reverse_proxy localhost:3000 {
			header_up Host {host}
			header_up X-Forwarded-For {remote_host}
			header_up X-Forwarded-Proto {scheme}
			header_up X-Real-IP {remote_host}
		}
	}
}
